body {
	width: 100%;
	height:100%;
	-webkit-transition: background-color ease-in-out .25s;
}


/* INPUT CONTAINER */
#input {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity ease-in-out .5s;
	font-weight: bold;
	font-size: 40px;
	left:15%;
	width:70%;
	min-width:300px;
	height:50%;
	top:25%;
	position:absolute;
	align-items: center;
	align-content: center;
	text-align: center;
}

#container {
	color:#FFF;
	font-size: 50px;
}

.center{left:25%;width:50%;height:50%;top:25%;background:#f0f;position:absolute;text-align:center;}

/* TEXT FIELD */

input {
	font-weight: bold;
	font-size: 100%;
	width:100%;
	height:50%;
	border:0px none;
	align-items: center;
	align-content: center;
	text-align: center;
	padding:0px;
}

#output {
	position: absolute;
	padding: 80px;
}

/* BUTTON */

#submit {
	background-color:#000;
	color:#fff;
	font-weight: bold;
	font-size: 100%;
	line-height: 200%;
	width:100%;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-bottom: 5px;
	position:absolute;
	text-align: center;
}
#submit:hover {
	background-color:#ee66aa;
	color:#fff;
}
#submit:active {
	background-color:#000;
	color:#ee66aa;
}